h1{
    color: lightslategray;
}

body{
    /*background-color: lightcyan; */
    font-weight: 800;
}
/* for id*/

#sss_card{
    background-color:red;
}
/* for class*/

.card{
    background-color: lightslategray;
}
.card > p{
    background-color: red;
    padding: 1px 10px;
}
